@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

* {
    font-family: 'Inter Tight', Century Gothic, sans-serif;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav > ul > li > a {
    text-decoration: none;
    background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.796875%,rgba(242, 71, 104,1) 20.796875%,rgba(158, 0, 236,1) 80.796875%);
    margin: 1rem;
    border-radius: 10px;
    padding-inline: 1rem;
    color: white;
}

button {
margin: 10px;
}

html {
    background-color:white;
    color:black;
 }


.container {
    margin: 10px;
}

.inputArea {
    border-radius: 10px;
    color: #1c2333;
    width: 90%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}