@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

* {
    color: white;
    font-family: 'Inter Tight', sans-serif;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav > ul > li > a {
    text-decoration: none;
    background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.796875%,rgba(242, 71, 104,1) 20.796875%,rgba(158, 0, 236,1) 80.796875%);
    margin: 1rem;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

body {
    background: #2b343b;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.5rem;
}

button {
    color: #1c2333;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputArea {
    border-radius: 10px;
    color: #1c2333;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:100%;
}